
.table-view .column-header .label{
     -fx-alignment: CENTER;
}
.table-view .cell{

    -fx-border-color: #ffffff;
  -fx-alignment: center;
}
.table-row-cell:hard
{
    -fx-background-color: #ce1e1e;

}

.table-row-cell:easy {
    -fx-background-color: #a1d640;
}
.table-row-cell:normal {
    -fx-background-color: #56aaff;
}

.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}

.table-view .column-header .label{
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}

.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.button
{
    -fx-background-color:
        linear-gradient(#7b59a8, #412d5b),
        radial-gradient(center 50% -40%, radius 200%, #2c114f 45%, #7b59a8 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #1c1c1c;
}

.button:hover {
    -fx-background-color: #cc0000;
}

